<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div v-text="msg"></div>
    <div v-once="msg">{{msg}}{{msg1}}</div>
    <input type="text" v-model="msg">
    <input type="text" v-model="msg1">
    <div v-html="p"></div>
</div>

<script src="node_modules/vue/dist/vue.js"></script>
<script>
    let vm=new Vue({
       el:'#app',
       data:{
           msg:'77777777777',
           msg1:'888',
           p:'<p style="color: red">red</p>'
       }
    });
</script>
</body>
</html>